{% extends "base/base.html" %} {% load static %} {% block content %}
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-11">
            <h4 class="card-title">Schedule Things</h4>
            {% comment %}
            <p class="card-description">Basic form layout</p>
            {% endcomment %}
          </div>
          <div class="col-md-1">
            <a href="{% url 'change' %}" class="btn btn-primary">Change Schedule</a>
          </div>
        </div>
        <div class="table-responsive">
          <table id="content" class="table table-borderless">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>File Count</th>
                <th>File</th>
                <th>Time</th>
                <th>End Time</th>
                <th>Looping</th>
                <th>Time</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for file in files %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ file.fileCount }}</td>                  
                  <td></td>
                  <td>{{ file.startTime }}</td>
                  <td>{{ file.endTime }}</td>
                  <td>{% if file.looping == '1' %}
                    Yes
                  {% else %}
                  No
                  {% endif %}</td>
                  <!-- <td>{{ file.orderI }}</td> -->
                  <td></td>
                  <td><a class='btn btn-danger' href={% url 'delete' id=file.id %}>Delete</a></td>
                </tr>                
                {% for data in filesData %}
                  {% if data.fileModel == file %}
                    <tr>
                      <td></td>
                      <td></td>
                      <td><a class='btn btn-primary' href="{{ data.file.url }}" download>Download File</a></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>{{ data.sequence }}</td>
                    </tr>                  
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
