{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'base' %}">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'change' %}">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Change Schedule</span>
      </a>
    </li>
    
  </ul>
</nav>
